<%- include partials/header %>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="<%= user.img_url %>" alt="Profile Picture">
				<div class="caption">
					<h3><%= user.username %></h3>
					<p><%= moment(user.date_joined).format('MMMM Do YYYY') %></p>
					<p><%= user.current_city %></p>
					<p><a href="/update/<%= user.id %>" class="btn btn-primary" role="button">Edit Profile</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-8">
				<ul>
					<% posts.forEach(function(post) { %>
						<li><h1><a href="/post/<%= post.id %>"><%= post.title %></a></h1></li>
					<% }) %>
				</ul>
			</div>
		</div>

</div>
<%- include partials/footer %>
