<%- include partials/header %>
	<div class="container">
		<div class="row">
			<div class="wrap-login col-md-4 col-md-offset-4">
				<h2 class="text-center">Edit Profile</h2>
				<form method="post" action="/update/<%= user.id %>">
					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" name="username" class="form-control" value="<%= user.username %>">
					</div>
					<div class="form-group">
						<label for="city">Current City</label>
						<input type="text" name="current_city" class="form-control" value="<%= user.current_city %>">
					</div>
					<input type="submit" class="btn-login btn btn-default"></input>
				</form>
			</div>
		</div>
	</div>
<%- include partials/footer %>
